@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,900);

$white: #FFFFFF;
$orange: #F6851F;
$navRed: #FF7200;
$text: #666666;
$bar: #F7F7F7;
$orangeBorder: #EEEEEE;


html, body{
	padding: 0;
	margin: 0;
	overflow-x: hidden
}

body{
	background-color: $white;
	font-family: "sofia-pro", Lato
}

.banner{
	background-image: url('/img/vancouver.jpg');
	width: 100vw;
	height: 500px;
	background-size: cover;
	padding: 0;
	margin: 0;
	position: fixed;
	text-align: center;


	h1{
		font-weight: 900;
		padding: 0;
		margin: 0;
		text-align: center;
		color: white;
		font-size: 60px;
		font-family: "sofia-pro", Lato;
	
	}

	h3{
		text-align: center;
		color: $orange;
		font-size: 18px;
		font-weight: 700;
		margin-top: 25px;
		font-family: "sofia-pro", Lato;
		
	}

	button{
		background-color: rgba(1,1,1,0);
		border: 1px solid white;
		padding: 15px 30px 15px 30px;
		color: white;
		font-weight: 300;
		margin-top: 40px;
		font-family: "sofia-pro", Lato;
	}

	button:hover{
		background-color: rgba(255,255,255,0.4);
		
	}


}

.banner-info{
	position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 240px;
    -webkit-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);   
    transition: all 0.5s ease-in;
}

.fade-out{
	opacity: 0
}


.nav{
	margin-top: 500px;
	height: 80px;
	width: 100vw;
	background-color: white;
	z-index: 10;
	position: relative;
	border-top: 4px solid $orange;
	box-shadow: 0px 1px 5px #888888;

	.logo{
		position: absolute;
		margin-top: -58px;
		text-align: center;
		left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	}

	ul{
		margin: auto auto;
		text-align: center;
		list-style-type: none;
		margin-top: 29px;
		font-weight: 900;
		li{

			display: inline;
			text-decoration: none;
			padding: 30px;
			font-family: "sofia-pro", Lato;
			color: $text;

		}

		li:hover{
			cursor: pointer
		}

		.seperate{
			margin-left: 160px
		}
	}
}

.nav-mobile{
	height: 40px;
	width: 100vw;
	background-color: white;
	position: relative;
	text-align: center;
	font-weight: 900;
	font-size: 10px;
	display: block;
	ul{
		list-style-type: none;
		position: relative;
		width: 100vw;
		background-color: white;
		padding: 15px 0 0 0;
		li{
			display: inline;
			padding: 15px;
			font-family: "sofia-pro", Lato;
			color: $text;
		}
	}
}
.content{
	width: 100vw;
	
	position: relative;
	background-color: white;
	

	h1{
		position: relative;
		margin: 0;
		padding: 0;
		text-align: center;
		color: $text;
		font-weight: 700;
		font-size: 30px;
		font-family: "sofia-pro", Lato;
	}

	.underline{
		height: 2px;
		background-color: $text;
		width: 130px;
		margin: auto auto;
		display: block;
		margin-top: 15px
	}

	p{
		font-weight: 300;
		color: $text;
		font-family: "sofia-pro", Lato
	}

	.portfolio{

	}

	.about-us{
		margin-top: 75px;
		img{
			width: 100%;
			box-shadow: 0 10px 10px -10px gray;

		}

		h2{
			font-family: "sofia-pro", Lato;
			color: $text;
			font-weight: 500;
			font-size: 18px;
			margin: 0;
			padding: 0;
			display: inline;
		}

		.text-bar{
			display: inline-block;
			background-color: #ededed;
			height: 7px;
			width: 42%;
			text-align: center;
			margin-left: 22px;
			margin-bottom: 4px
		}

		p{
			margin-top: 5px
		}

		button{
			border: 1px solid $navRed;
			color: $orange;
			background-color: white;
			border-radius: 3px;
			padding: 10px 30px 10px 30px;
			margin-top: 18px
		}

		button:hover{
			background-color: $navRed;
			color: white;
		}

		@media (max-width: 800px) {
			.text-bar{
				display: none
			}

			img{
				padding-bottom: 20px
			}


		}
	}
	
}

.grid-conatiner{
	margin-top: 25px;
	z-index: 10;
}

 
.grid{
	// margin-top: 50px;
	z-index: 10;
	.cube{
		transition: opacity 0.5s ease-in;
		height: calc(100% / 4);
		width: calc(100% / 4);
		opacity: 0;
		overflow: hidden;
		padding: 0;
		margin: 0;
		z-index: 10;
	}

	@media (min-width: 1400px){
		.cube{
			height: 400px !important;
		}

		.button{
			transform: translateY(-530%) !important;
		}
	}

	@media (max-width: 1200px) and (min-width: 400px){
		.cube{
			height: 200px
		}

		.button{
			transform: translateY(-330%) !important;
		}
	}

	@media (max-width: 800px){
		.cube{
			height: 270px
		}

		.button{
			transform: translateY(-370%) !important;
		}
	}

	.button{
		width: 50px;
		height: 50px;
		position: absolute;
		transform: translateY(-380%);
		background-color: #f0f0f0;
		border-radius: 100px;
		text-align: center;
		left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    opacity: 0;
	    transition: opacity 0.5s ease-in;
	    transition-delay: 0.3s;
	    background-image: url('/img/zoom-icon.png');
	    background-size: cover;
	}

	.slider{
		background-color: #f0f0f0;
		height: 100px;
		width: 100%;
		position: relative;
		z-index: 10;
		transition: all 0.5s ease-in;
		 
		h2{
			 text-align: center;
			 font-family: "sofia-pro", Lato;
			 font-weight: 500;
			 font-size: 20px;
			 padding: 16px 0 10px 0;
			 margin: 20px 0 0 0;
		}

		h3{
			text-align: center;
			font-family: "sofia-pro", Lato;
			font-weight: 300;
			font-size: 20px;
			margin: 0;
			padding: 0;
			font-size: 12px;
			color: #929292
		}
	}

	.cube:hover .button{
		opacity: 1;
	}

	.cube:hover .slider{
		transform: translateY(-100%);
	}
	
	

	.cube-red{
		background-color: red;
	}

	.cube-green{
		background-color: green;
	}

	.overlay{
		opacity: 0;
		background-color: #666666;
		width: 120%;
		height: 100%;
		padding: 0;
		margin: 0;
	}

	.cube:hover .overlay{
		opacity: 0.3;
	}

	#cube-1{
		background-image: url('/img/port/rentzrey/1.jpg');
		background-size: cover
	}

	#cube-2{
		background-image: url('/img/port/2.jpg');
		background-size: cover
	}

	#cube-3{
		background-image: url('/img/port/3.jpg');
		background-size: cover
	}

	#cube-4{
		background-image: url('/img/port/4.jpg');
		background-size: cover
	}

	#cube-5{
		background-image: url('/img/port/5.jpg');
		background-size: cover
	}

	#cube-6{
		background-image: url('/img/port/6.jpg');
		background-size: cover
	}

	#cube-7{
		background-image: url('/img/port/7.jpg');
		background-size: cover
	}

	#cube-8{
		background-image: url('/img/port/8.jpg');
		background-size: cover
	}


}

@media (min-width: 1400px){
		.project{
			height: 800px !important;

			.text-sec{
				height: 800px !important;
				
			}

			.image-sec{
				height: 800px !important;
			}

			.text-area{
				height: 800px !important;
				padding-top: 30px;
			}
		}

		.carousel-inner > .item > img, .carousel-inner > .item > a > img {
		    width: 100%;
		    height: 800px !important;
		}

}

.project{
	height: 540px;
	width: 100vw;
	transform: translateY(-100%);
	z-index: 0;
	position: absolute;

	.text-sec{
		height: 540px;
		background-color: #f0f0f0;
		
	}

	.text-area{
		transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transform: translateX(100%);
		height: 540px;

		h1{
			text-align: center;
			font-weight: 700;
			font-family: "sofia-pro", Lato;
			padding-top: 40px;
			font-size: 24px;
			padding: 0;
			margin: 30px 0 0 0;
		}

		h3{
			font-weight: 300;
			font-family: "sofia-pro", Lato;
			text-align: center;
			font-size: 16px;
			padding: 0;
			margin: 14px 0 0 0;
		}

		.line{
			height: 1px;
			background-color: #666666;
			width: 100px;
			position: relative;
			display: block;
			margin: auto auto;
			text-align: center;
			margin-top: 20px;
		}
	}

	.image-sec{
		height: 540px;
		padding: 0;
		margin: 0;
		img{
			width: 100%;
			height: 100%;
		}
	}
}

#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8{
	opacity: 0;

}

@media (max-width: 1400px){
	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	    width: 100%;
	    height: 540px !important;
	}
}

#cancel{
	position: relative;
	display: inline-block;
	z-index: 99;
	top: 120;
	left: 50;
	opacity: 0;
	font-size: 25px;
	color: $orange;
}

.services{
	margin-top: 160px;
	text-align: center;

	@media (max-width: 800px){
			.service-image{
				width: 50% !important;
				padding-top: 30px;
			}

	}
	.service-image{
		width: 90%;
		text-align: center;
		transition: all 0.3s ease-in;
	}

	.service-image:hover{
		transform: translateY(-20px);
	}

	h3{
		padding: 30px 0 0 0;
		margin: 0 0 0 0;
		font-weight: 500;
		font-family: "sofia-pro", Lato;
		font-size: 16px;
	}

	p{
		text-align: justify;
		width: 90%
	}


}

.contact{
	//background-color: #303030;
	width: 100%;
	margin-top: 120px;
	position: relative;
	text-align: center;
	img{
		display: inline;
		width: 30px;
		margin-right: 20px
	}

	p{
		font-family: "sofia-pro", Lato;
		display: inline;
		font-weight: 300;
		font-size: 20px
	}

}

.footer{
	background-color: #202020;
	height: 100px;
	color: #f7f7f7;
	font-weight: 300;
	font-family: "sofia-pro", Lato;
	text-align: center;
	padding-top: 40px;
}


